@use 'variables' as v;


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: v.$main-font;
  font-size: 1.6rem;  
}

p {
  font-size: 2rem;
  color: v.$black;
  line-height: 1.5;
}

.container {
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin: 0.2rem 0;
  background-color: v.$green;
  border: 2px solid #090909;
  font-family: v.$main-font;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 5px;
  transition: all 0.2s;
  &:hover {
    box-shadow: 1px 1px 10px #3d501b; 
  }
}
input {
  padding-left: 10px;
  margin: 5px 0 1rem;
  height: 35px;
  border: 1px solid #090909;
}

li {
  list-style: none;
}