@use 'variables' as v;

@mixin phone {
  @media (min-width: v.$phone) {
    @content;
  }  
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }  
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }  
}

@mixin desktopXL {
  @media (min-width: v.$desktopXL) {
    @content;
  }  
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;  
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin hover-efect-card($color, $value) {
  border: none;
  background-color: darken($color, 2%);
  transform: translateY($value);
}
