//Tipografía
$main-font: 'Outfit', sans-serif, 'Shippori Antique', sans-serif;
$secondary-font: 'Shippori Antique', sans-serif;

//Colores
$yellow: #FFD166;
$light-yellow: #fff1d1;
$light-black: #2D2D2A;
$green:#4B7F52;
$light-blue: #5BC0EB;
$black: #000000;
$white: #FFFFFF;

//Tamaños de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

