@use 'base/variables' as v;
@use 'base/mixins' as m;


.title-calc {
  margin: 3rem 0 2rem;
}

.form-calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-calculadoras {
  width: 100%;
  @include m.tablet {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 85%;
    max-width: 120rem;
    margin: 0 auto; 
  }
}

.container-taller2 {
  @include m.tablet {
    width: auto;
  }
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 1rem;
  height: 100%;
  margin-bottom: 5rem;
  h2 {
    margin-bottom: 1rem;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}