@use 'base/variables' as v;

.header {
 background-color: v.$light-black;
 height: 10rem;
 width: 100%;

 nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-weight: bold;
    color: v.$yellow;
  }
  .inicio {
    font-size: 5rem;
    color: v.$yellow;
  } 
  .user {
    text-transform: uppercase;
    font-size: 2rem;
  }
 }
}

nav a.user::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background: v.$yellow;
  transition: 300ms;
}
nav a.user:hover::after {
  width: 100%;
}