@use 'base/variables' as v;
@use 'base/mixins' as m;

.container-talleres {
  width: 100%;
  .title{
    display: flex;
    justify-content: center;
    @include m.tablet {
      justify-content: initial;
    }
  }
  h2 {
    text-transform: uppercase;
    position: relative;
    &::before {
      content: "";
      width: 0%;
      height: 33px;
      display: block;
      background: v.$light-yellow;
      transition: 300ms;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    &:hover::before {
      width: 100%;
    }
  }
  @include m.tablet {
    width: 85%;
    max-width: 120rem;
    margin: 3rem auto 1rem;
  }
}

.talleres-cards {
  width: 100%;
  height: 100%;
  @include m.tablet {
    @include m.grid(4, 1fr);
    gap: 1rem;
  }
  .taller-card {
    min-width: 15rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1.5rem;
    background-color: v.$yellow;
    height: 100%;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3s;
    a {
      color: v.$light-black;
    }
    &:hover {
      background-color: darken(v.$yellow, 5%);
      transform: scale(1.03);
      border: 2px solid black;
      @include m.tablet {
        &:hover {
          @include m.hover-efect-card(v.$yellow, -10px)
        }      
      }
    }      
    div {
      h4 {
        margin: 1rem 0;
      }
      h3 {
        margin-bottom: 1rem;
      }
      p {
        margin: 0;
        font-size: 1.6rem;
      }
    }
  }
}

.error {
  margin: 0;
  color: red;
  font-size: 1.8rem
}